{% extends "base.html" %}

{% block content %}
    <table id="data" class="table table-striped">
      <thead>
      <tr>
          <th>Email</th>
          <th>Name</th>
          {% for i in range(0, variable ) %}
          <th>Meeting {{i+1}}</th>
          {% endfor %}
      </tr>
      </thead>
      <tbody>
          {% for row in value %}
              <tr>
                  {% for i in range(0, variable + 2) %}
                  <td>{{row[i]}}</td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}
